body{
    background-color: #565656;
    font-size: 16px;
    margin: 0px 0px;
}

header{
    width: 1078px;
    height: 91px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.navigation{
    background-color: black;
    width: 1078px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.navigation ul{
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0px;
}

.navigation ul ls{
    display: block;
    float: left;
    width: 110px;
    text-align: center;
}

.navigation a{
    color: white;
}

.largebanner{
    display: block;
    width: 1078px;
    margin-left: auto;
    margin-right: auto;
}

.largebanner .large1{
    margin-left: 35px;
    float: left;
}

.largebanner .large2{
    margin-right: 35px;
    float: right;
}

.main{
    display: block;
    width: 1078px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.main .main-content{
    padding: 5px;
}

.main .main-content .main-heading{
    border-left:3px solid #e54e53;
    padding-left: 14px;
    margin-top: 0px;
    margin-bottom: 35px;
    font: 18px "微軟正黑體", "Open Sans", Arial, sans-serif;
}

.main .main-content .main-heading strong{
    margin-left: 14px;
    font-family: "微軟正黑體", sans-serif;
}

.main .list{
    display: block;
}

.main .list .column a{
    position: relative;
    display: block;
    padding-left: 18px;
    padding-bottom: 18px;
    float: left;
    width: 31%;
}

.main .list .column img{
    height: 230px;
    width: 100%;
}

.main .list .column h3{
    position: absolute;
    box-sizing: border-box;
    background: transparent;
    margin-bottom: 22px;
    border-right: 18px solid white;
    padding: 16px 14px;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: "微軟正黑體", sans-serif;
    background: rgba(0,0,0,0.3);
}

.main-footer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #1e1e1e;
}

.main-footer .wrap ul{
    margin-bottom: 0px;
    padding: 0px 0px;
    padding-top: 40px;
    width: 1078px;
    margin-left: auto;
    margin-right: auto;
}

.main-footer .wrap ul ls{
    float: left;
    width: 25%;
}

.main-footer .wrap ul ls a{
    display: block;
    color: white;
    font-family: "微軟正黑體", sans-serif;
    padding-bottom: 12px;
}

.main-footer .lower-foor{
    padding: 14px 0px;
    background-color: black;
    color: #8d8e92;
    margin: 0px 0px;
    text-align: center;
}

.main-footer .lower-foor a{
    color: #b6b7b9;
}

.clear{
    clear: both;
}

.logo{
    float: left;
    margin-top: 20px;
    font-size: 60px;
    color: red;
}

.right{
    float: right;
    width: 878px;
    text-align: center;
}